<div class="card">
	<div class="card-body p-2">
		<center>
			<img id="qr_wallet" class="img-thumbnail img-responsive mb-2"/>
		</center>
		<input type='text' readonly id="address_wallet" class='form-control' style="padding:5px 15px;height:auto"/>
	</div>
</div>

<div class="card">
	<div class="card-body p-2">
		<div class='row'>
			<div class="col-6">
				<span class="badge w-100 light badge-primary mb-2 text-center">Withdraw</span>
				<input type='text' id="wallet_wd" class='form-control mb-2' placeholder="Wallet Address" style="padding:5px 15px;height:auto"/>
				<input type='number' id="amount_wd" class='form-control mb-2' placeholder="0" style="padding:5px 15px;height:auto"/>
				<button class='btn btn-primary btn-sm w-100' id='save_wd'>Submit</button>
			</div>
			<div class="col-6">
				<span class="badge w-100 light badge-success mb-2 text-center">Transfer</span>
				<input type='text' id="wallet_tf" class='form-control mb-2' placeholder="Username" style="padding:5px 15px;height:auto"/>
				<input type='number' id="amount_tf" class='form-control mb-2' placeholder="0" style="padding:5px 15px;height:auto"/>
				<button class='btn btn-success btn-sm w-100' id='save_tf'>Submit</button>
			</div>
		</div>
	</div>
</div>